[sources]
# genwebcore
genweb6.core = git https://github.com/UPCnet/genweb6.core.git branch=master
genweb6.theme = git https://github.com/UPCnet/genweb6.theme.git branch=master

collective.recipe.filestorage = git https://github.com/UPCnet/collective.recipe.filestorage.git branch=main

ftw.casauth = git https://github.com/UPCnet/ftw.casauth.git branch=master

# genwebupc
genweb6.upc = git https://github.com/UPCnet/genweb6.upc.git branch=master

# genwebaddons
genweb.organs = git https://github.com/UPCnet/genweb.organs.git branch=pyto3

# genwebmigration
collective.exportimport = git https://github.com/collective/collective.exportimport.git branch=main
contentimport = git https://github.com/UPCnet/contentimport.git branch=main
